.table-jobs{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  padding-left: 10px;
}
.div-table-jobs-active{
  max-height: 500px !important;
}
.div-table-jobs-hidden{
  max-height: 0px;
  overflow: hidden;
  transition: all 0.7s ease;
}
