.table-jobs{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  padding-left: 10px;
}
.div-table-jobs-active{
  max-height: 500px !important;
}
.div-table-jobs-hidden{
  max-height: 0px;
  overflow: hidden;
  transition: all 0.7s ease;
}

.interface-card {
  max-height: 470px !important;
  height: 470px !important;
}

.scrollable-container {
  overflow-y: scroll;
}

.table-products {
  height: 100%;
}

.flex-box-container {
  display: flex;
}

.actions-box {
  width: 50%;
}

.products-box {
  flex-grow: 100;
  margin-left: 10px;
}